<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>TopAIS</title>

</head>
<body>

    <form action="/" method="post">

        <input id="csrf_token" name="csrf_token" type="hidden" value="IjRiNzcxYTc5Mjg1NDNkZWY2MTJlZDgzOTlkMzdkN2U5NDBhMGVjNmEi.X4mQ0w.0DG_S08r-lH5AmF0XTAxRhYwngo">
    
        <label for="start_x">시작 좌표(x)</label>
        <input id="start_x" name="start_x" required type="text" value="">
        <br>
    
        <label for="start_y">시작 좌표(y)</label>
        <input id="start_y" name="start_y" required type="text" value="">
        <br>
    
        <label for="finish_x">종료 좌표(x)</label>
        <input id="finish_x" name="finish_x" required type="text" value="">
        <br>
    
        <label for="finish_y">종료 좌표(y)</label>
        <input id="finish_y" name="finish_y" required type="text" value="">
        <br>
    
        <input id="submit" name="submit" type="submit" value="영역학습">
    
    </form>

</body>
</html>