{% extends "base.html" %}
{% load static %}

{% block content %}
    {% for message in messages %}
        <div id="modal" class="modal-overlay">
            <div class="modal-window">
                <h6>{{ message }}</h6>
                <button onclick="modalclose()" class="btn check-btn">확인</button>
            </div>
        </div>
    {% endfor %}
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg-img/earth.jpg);">
        <div class="bradcumbContent">
            <p>Check Business List</p>
            <h2>BOARD</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    <!-- ##### Events Area Start ##### -->

    <section class="events-area section-padding-100">
        <div class="container">
            <div class="row">


                <div class="container">
                    <table class="table">
                        <thead class="thead-light">
                        <tr class="text-center">
                            <th scope="col">DATE</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">작성자</th>
                            <th scope="col">진행상황</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for board in board_list %}
                            <tr class="text-center">
                                <td>{{ board.created_at|date:"Y.m.d" }}</td>
                                <td><a href="{{ board.get_absolute_url }}">{{ board.title }}</a></td>
                                <td>{{ board.user }}</td>
                                <td>
                                    {% if board.process == 0 %}
                                        <div class="progress_text pos-center">진행중</div>
                                    {% elif board.process == 1 %}
                                        <div class="progress_text pos-center">검토중</div>
                                    {% else %}
                                        <div class="progress_text pos-center">완료</div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </section>
{% endblock content %}