{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg-img/earth.jpg);">
        <div class="bradcumbContent">
            <p>자주 묻는 질문</p>
            <h2>Q & A</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    <!-- ##### Events Area Start ##### -->

    <section class="events-area section-padding-100">
        <div class="container">
            <div class="row">

                    <table class="table">
                        <thead class="thead-light">
                            <tr class="text-center">
                                <th scope="col">TITLE</th>
                            </tr>
                        </thead>
                        <tbody>
        
                            <tr class="text-center">
                                <td>
                                    <span href = ''>쿨루프 시공</span>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>
                                    <span>쿨루프 시공</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-auto mr-auto"></div>
                        <div class="col-auto">
                            <a href="{% url 'qna_write' %}">
                            <button type="submit" class="btn write-btn mt-30" >글쓰기</button>
                            </a>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </section>
{% endblock content %}