{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg-img/earth.jpg);">
        <div class="bradcumbContent">
            <p>질문과 소통</p>
            <h2>Q & A</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <section class="section-padding-70-100">
        <div class="row">
            <div style="float:none; margin:0 auto" >
                <div class="col-md-3 col-md-pull-9" ></div>
                <div class="col-md-9 col-md-push-3">
                    <div class="w-900">
                        {% include "form_errors.html" %}
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group w-900">
                            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>TITLE</strong></label>
                            <input type="text" name="title" class="form-control w-900" id="inputTitle">
                        </div>
                        
                        <div class="form-group w-900">
                            <label for="inputContent" class="col-sm-2 col-form-label"><strong>CONTENT</strong></label>
                            <textarea type="text" name='content' class="form-control w-900" id="inputContent"
                                    style='height: 300px'></textarea>
                        </div>
                        
                        <div class="row" style='padding-right : 400px'>
                            <div class="col-auto mr-auto"></div>
                            <div class="col-auto">
                                <a href="{% url 'qna_list' %}">
                                    <button type="button"
                                            class="btn cancel-btn mt-30 mr-30">CANCEL
                                    </button>
                                </a>
                                <button type="submit" onclick="savewrite()" class="btn write-btn mt-30">저장</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}