{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'widget.html' %}
    <div class="col-md-9 col-md-push-3" style='padding-left: 115px; padding-right: 100px;'>
        <table class="table">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col">DATE</th>
                <th scope="col">TITLE</th>
                <th scope="col">진행상황</th>
            </tr>
            </thead>
            <tbody>
            {% for board in board_list %}
                <td>{{ board.created_at|date:"Y.m.d" }}</td>
                <td><a href="{{ board.get_absolute_url }}">{{ board.title }}</a></td>
                <td>
                    {% if board.process == 0 %}
                        <div class="progress_text pos-center">진행중</div>
                    {% elif board.process == 1 %}
                        <div class="progress_text pos-center">검토중</div>
                    {% else %}
                        <div class="progress_text pos-center">완료</div>
                    {% endif %}
                </td>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </section>
{% endblock content %}