{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/static/img/bg-img/bg-1.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">위성사진을 활용한 도시환경 개선</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">AI와 함께 <span>AI와 함께</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#title" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/static/img/bg-img/bg-2.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">위성사진을 활용한 도시환경 개선</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">AI가 먼저 찾아냅니다 <span>AI가 먼저 찾아냅니다</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#title" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Latest Albums Area Start ##### -->
    <section class="latest-albums-area section-padding-100" id = "title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p>what's</p>
                        <h2>TopAIs</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9">
                    <div class="ablums-text text-center mb-70">
                        <h5>도시 환경 문제점을 AI가 하늘에서 찾아냅니다</h5>
                        <h5 class = "mt-30">TOP-AIS의 AI는 위성 지도 데이터를 3,000장 학습하여 높은 정확도를 보여줍니다.</h5>
                        <h5 class = "mt-30">TOP-AIS는 시공업체와 지자체간의 원활한 소통을 제공합니다.</h5>
                        <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary mt-100" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
                            <div class="position-relative">
                              <h3>
                                Cool-Roof SERVICE
                              </h3>
                              <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                                <i class="fa fa-plus"></i>
                              </div>
                            </div>
                          </a>
                          <div class="collapse" id="faq-20">
                            <div class="card card-body border-0 p-0">
                              <h5>TOP-AIS가 쿨루프 시공 필요 건물을 찾아줍니다.</h5>
                              <img src ="/static/img/bg-img/coolroofeffect2.PNG" style = "">
                              <div>
                                쿨루프의 반사율은 0.55로 기존 옥상면의 0.22보다 약 0.3 정도 
                                높았으며, 이로 인해 쿨루프의 옥상표면온도가 최고 9°C정도 낮
                                게 나타났다. 쿨루프 적용 사무실과 미적용 사무실의 실내 온도 
                                저감 효과는 천장내부 온도는 쿨루프의 영향으로 약 1~2°C 정도
                                있었다. 사무실 실내 온도는 냉방기의 영향이 있었지만 쿨루프가 
                                적용된 사무실(ECD)에서 약 0.5~1.0°C 낮게 나타나, 쿨루프의 실내 온도 저감 효과를 확인할 수 있었다. 
                              </div><small>출처 : 쿨루프 적용에 따른 업무용 건물의 내·외부 온도 저감 효과
                                Reduction in Indoor and Outdoor Temperature of Office Building with Cool Roof</small>
                                <div class = "mt-10">실내온도를 낮춰 냉방 에너지를 약 30% 절약하므로 전기 사용에 의한 이산화탄소 등의 온실가스 배출을 줄이는 효과가 있다. 특히 한여름에는 폭염 및 열섬현상을 예방할 수 있고 겨울철에는 내부의 열 방출을 차단시키는 단열효과로 연료 및 에너지 소비 절감에 큰 이점이 있다.</div>
                                <small>출처 : 영남경제(http://www.ynenews.kr)</small>
                              <p>
                              </p>
                            </div>
                          </div>
                          <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-21" aria-expanded="false" data-toggle="collapse" href="#faq-21" role="button">
                            <div class="position-relative">
                              <h3>
                                ROAD-LINE SERVICE
                              </h3>
                              <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                                <i class="fa fa-plus"></i>
                              </div>
                            </div>
                          </a>
                          <div class="collapse" id="faq-21">
                            <div class="card card-body border-0 p-0">
                              <p>Comming Soon...</p>
                              <p>
                              </p>
                            </div>
                          </div>
                          
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="albums-slideshow owl-carousel">
                        <!-- Single Album -->
                        <div class="single-album">
                            <img src="/static/img/bg-img/wan.png" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>김재완</h5>
                                </a>
                            </div>
                        </div>
                        <div class="single-album">
                            <img src="/static/img/bg-img/minjin.png" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>신민진</h5>
                                </a>
                            </div>
                        </div>
                        <div class="single-album">
                            <img src="/static/img/bg-img/sejin.png" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>이세진</h5>
                                </a>
                                <p>~22.04.27(탈주)</p>
                            </div>
                        </div>
                        <div class="single-album">
                            <img src="/static/img/bg-img/oneho.png" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>이원호</h5>
                                </a>
                            </div>
                        </div>
                        <div class="single-album">
                            <img src="/static/img/bg-img/yoonji.png" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>전윤지</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {%endblock content%}