{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/static/img/bg-img/bg-1.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">위성사진을 활용한 도시환경 개선</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">AI와 함께 <span>AI와 함께</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#title" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/static/img/bg-img/bg-2.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">위성사진을 활용한 도시환경 개선</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">AI가 먼저 찾아냅니다 <span>AI가 먼저 찾아냅니다</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#title" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Latest Albums Area Start ##### -->
    <section class="latest-albums-area section-padding-100" id = "title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p>what's</p>
                        <h2>TopAIs</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9">
                    <div class="ablums-text text-center mb-70">
                        <p>우리는 개쩌는 인공위성을 이용한 개쩌는 AI모델을 사용하여 개쩌는 서비스를 제공한다.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="albums-slideshow owl-carousel">
                        <!-- Single Album -->
                        <div class="single-album">
                            <img src="/static/img/bg-img/a1.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>김재완</h5>
                                </a>
                                <p>CEO 총괄 기획 그냥 다함</p>
                            </div>
                        </div>
                        <div class="single-album">
                            <img src="/static/img/bg-img/a1.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>신민진</h5>
                                </a>
                                <p>INLINE-SKATER</p>
                            </div>
                        </div>
                        <div class="single-album">
                            <img src="/static/img/bg-img/a1.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>이세진</h5>
                                </a>
                                <p>BACKEND</p>
                            </div>
                        </div>
                        <div class="single-album">
                            <img src="/static/img/bg-img/a1.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>이원호</h5>
                                </a>
                                <p>IDEA OFFERER</p>
                            </div>
                        </div>
                        <div class="single-album">
                            <img src="/static/img/bg-img/a1.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>전윤지</h5>
                                </a>
                                <p>SPINNING MASTER(아직 앉아서탐)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {%endblock content%}