<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=efk8ds44x0"></script>
</head>
<body>
<div id="map" style="width:100%;height:800px;"></div>

<script>
var area_x = 35.149571;
var area_y = 129.003490;
var coolroof = new naver.maps.LatLng(area_x, area_y),
    map = new naver.maps.Map('map', {
        center: coolroof,
        zoom: 20
    })
map.setMapTypeId(naver.maps.MapTypeId.SATELLITE);
</script>
</body>
</html>