{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
        <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg-img/breadcumb3.jpg);">
            <div class="bradcumbContent">
                <p>열사 현상 줄이는</p>
                <h2>Cool-Roof</h2>
            </div>
        </section>
    <!-- ##### Breadcumb Area End ##### -->

    <section class="contact-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div>
                    <div class="service-box">
                        <div class = "service-box-title">KT 부산지점</div>
                        <div class = "service-box-address">부산광역시 사상구 주례3동</div>
                        <div class = "service-box-area">면적 : 120.9m2</div>
                    </div>
                </div>
                <div class="login-form">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter E-mail">
                            <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </section>

{%endblock content%}