{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
        <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg-img/earth.jpg);">
            <div class="bradcumbContent">
                <p>OFFICIAL</p>
                <h2>SIGNUP</h2>
            </div>
        </section>
    <!-- ##### Breadcumb Area End ##### -->
    <!-- ##### SIGNUP Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <!-- SIGNUP Form -->
                        <div class="login-form">
                            <!-- Error Form -->
                            {% include "app/form_errors.html" %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="InputArea">Area</label>
                                    <input type="text" class="form-control" id="inputArea" name="area" value="{{ form.area.value|default_if_none:'' }}" placeholder="Enter Your AREA">
                                </div>
                                <div class="form-group">
                                    <label for="InputName">Name</label>
                                    <input type="text" class="form-control" id="inputUsername" name="username" value="{{ form.username.value|default_if_none:'' }}" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="InputID">ID</label>
                                    <input type="text" class="form-control" id="inputID" name="user_id" value="{{ form.user_id.value|default_if_none:'' }}" placeholder="ID">
                                </div>
                                <div class="form-group">
                                    <label for="InputPassword1">Password</label>
                                    <input type="password" class="form-control" id="inputPassword1" name="password1" value="{{ form.password1.value|default_if_none:'' }}" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="InputPassword2">Password</label>
                                    <input type="password" class="form-control" id="inputPassword2" name="password2" value="{{ form.password2.value|default_if_none:'' }}" placeholder="Confirm Password">
                                </div>
                                <div class="form-group">
                                    <label for="InputEmail">Email address</label>
                                    <input type="email" class="form-control" id="inputEmail" name="email" value="{{ form.email.value|default_if_none:'' }}" aria-describedby="emailHelp" placeholder="Enter E-mail">
                                    <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                                </div>                             
                                <div class="form-group">
                                    <label for="InputPhone">Phone Number</label>
                                    <input type="text" class="form-control" id="inputPhone" name="phone" value="{{ form.phone.value|default_if_none:'' }}" aria-describedby="phoneHelp" placeholder="OOO-OOOO-OOOO">
                                    <small id="phoneHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your Phone Number with anyone else.</small>
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30">SIGNUP</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### SIGNUP Area End ##### -->

{%endblock content%}